<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #1E1E1E;
            }
            h1{
                text-align: center;
                color:white;
                margin-top:20%;
            }
         
            #path{
                width:200px;
                height:50px;
                background-color:#C32B2B;
                border-radius: 30px;
                margin:auto;
                margin-top:40px;
           
            }
            a{
                color:white;
                text-decoration: none;
                
            }
            p{
                text-align: center;
                padding-top:10px;
            }
        </style>
    </head>
    <body>
        <h1>Oops! 잘못된 경로에 접근했어요!</h1>
        <div id="path">
            <a href="/"><p>main페이지로 돌아가기</p></a>
        </div>
        
    </body>
</html>
