<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/find.css">
        <style>
            body{
                background-color: #1E1E1E;
            }
            #first div{
                width:200px;
                height:60px;
                border-radius:30px;
                background-color: white;
                margin-top:10px;
                display:inline-block;
                margin-left:30px;
            }
            #others div{
                width:200px;
                height:60px;
                border-radius:30px;
                background-color: white;
                margin-top:30px;
                display:inline-block;
                margin-left:30px;
            
            }
            h1{
                color:white;
                padding-bottom:0px;
                margin-top:10%;
            }
            p{
                margin:auto;
                padding-top:15px;
                font-size:150%;
            }
        </style>
    </head>
    <body>
 
        <div id="container">
            <h1># 직업 키워드 검색</h1>
            <div id="first">
                <div id="it">
                    <a href="/job/search/1"><p>IT</p> </a>
                </div>
                <div id="bio">
                    <a href="/job/search/2"><p>생명</p></a>
                </div>
                <div id="construction">
                    <a href="/job/search/3"><p>건축</p></a>
                </div>
                <div id="machine">
                    <a href="/job/search/4"><p>기계</p></a>
                </div>
            </div>
            <div id="others">
                <div id="elec">
                    <a href="/job/search/5"><p>전자·전기</p></a>
                </div>
                <div id="chemistry">
                    <a href="/job/search/6"><p>화학</p></a>
                </div>
                <div>
                    <a href="/job/search/7"><p>환경·에너지</p></a>
                </div>
                <div>
                    <a href="/job/search/8"><p>의사</p></a>
                </div>
            </div>
            <div id="others">
                <div>
                    <a href="/job/search/9"><p>의료인</p></a>
                </div>
            
            </div>
            
            <!--
            //1 : IT
            //2: 생명
            //3: 건축
            //4: 기계계
            //5: 전자,전기
            //6: 화학
            //7: 환경, 에너지
            //8: 의사
            //9: 의료인 
           -->
        

        </div>
    </body>
</html>
