<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #1E1E1E;
            }
            #logo{
                
                text-align: center;
                margin-top:10%;
                margin-bottom:0px;

            }
            #logo p{
                color: white;
                margin-top:0px;
                font-size:120%;
            }
        
            #localLogin, #googleLogin{
                background-color:white;
                width:350px;
                height: 60px;
                margin-top:10px;
                margin:auto;
                border-radius: 100px;
            }
            a{
                text-decoration-line: none;
            }
            #container p{
                padding-top:10px;
                text-align: center;
                margin-top:10%;
                font-weight: bold;
                font-size:150%;
                color: #1E1E1E;
               
            }
            
        </style>
    </head>
    <body>
        <div id="logo">
            <img src="/image/logo.png" alt ="logo">
            <p>Make your future here</p>
            </div>  
        <div id="container">
        <div id="googleLogin"><a href="/login/google"><p>google account</p></a></div>
        <div id="localLogin"><a href="/login/local"><p>googleChat account</p></a></div>   
        </div>
    </body>
</html>

